{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>JS</title>
	 <script type="text/javascript" src="{% static "js/jquery-2.1.4.js" %}"></script>
	 <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
	 <script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
    <script language="JavaScript"src="http://www.meteonova.ru/htmlinformer/37789,37792"></script>
	 <link href="{% static "css/login_style.css" %}" rel="stylesheet">
	 <script type="text/javascript" src="{% static "js/my.js" %}"></script>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div id="logo-image"></div>
        </div>
        <div id="content">
            <div id="autor_form" class="border-shadow">
                 <form action="/auth/login/" method="post">
                     {% csrf_token %}
					<div class="form-group">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Ծածկանուն" name="username">
						</div>
						<div class="form-group">
							<input type="password" class="form-control" placeholder="Գաղտնաբառ" name="password">

                            <div id="login-btn">
                                <button class="btn btn-info" type="submit" >Մուտք</button>
                            </div>

						</div>
					</div>
				</form>
                 {% if login_error %}
                <div>
                    <p style="color:red">
                        Սխալ մուտք
                    </p>
                </div>
                 {% endif %}
             </div>
        </div>
        <div id="footer">
            <div class="footer-col-left">
                <div class="column">
                   {% if rates %}
                            <table>
                                <thead style="background-color:transparent">
                                    <tr>
                                        <th >
                                            Տարադրամ
                                        </th>
                                        <th>
                                            Փոխարժեք
                                        </th>
                                        <th>
                                            Տարբերություն
                                        </th>
                                        <th>
                                            Աճ
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for rate in rates %}
                                        <tr>
                                            <td>
                                                {{ rate.ISO }}
                                            </td>
                                            <td>
                                                {{ rate.Rate }}
                                            </td>
                                            <td>
                                                {{ rate.Difference }}
                                            </td>
                                            <td>
                                                {% ifequal rate.Sign "Minus" %}
                                                    <p><i class='glyphicon glyphicon-arrow-down'></i></p>
                                                {% else %}
                                                    <p><i class='glyphicon glyphicon-arrow-up'></i></p>
                                                {% endifequal %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <p>
                                CBA ERROR
                            </p>
                        {% endif %}
                   </div>
            </div>
            <div class="footer-col-center">
                <!--WEATHER INFORMATION-->
                <div class="column">
                    <table>
	                    <tbody>
                            <tr>
                                <th colspan="3" class="mn-title" align="center">
                                    Եղանակը Հայաստանում
                                </th>
                            </tr>

		                    <tr>
			                    <td height="1"></td>
		                    </tr>
		                    <tr>
			                    <td class="mn-main-td" onmouseover="showMe(0)">Երևան</td>
			                    <td class="mn-main-td" id="mnitemper0" align="right"></td>
			                    <td class="mn-main-td" id="mniimg0" align="right"></td>
		                    </tr>
		                    <tr>
			                    <td class="mn-sub-td" colspan="3" id="mnifrc0"></td>
		                    </tr>
		                    <tr>
			                    <td height="1"></td></tr><tr><td class="mn-main-td" onmouseover="showMe(1)">Հրազդան</td>
			                    <td class="mn-main-td" id="mnitemper1" align="right"></td>
			                    <td class="mn-main-td" id="mniimg1" align="right"></td>
		                    </tr>
		                    <tr>
			                    <td class="mn-sub-td" colspan="3" id="mnifrc1"></td>
		                    </tr>
		                    <tr>
			                    <td height="1"></td>
		                    </tr>
		                    <tr>
			                    <td class="mn-main-td mn-main-td-date" id="mnidate" colspan="3" align="center"></td>
		                    </tr>
                        </tbody>
                    </table>
                    <script language="JavaScript" >
                        var meteonovaInformerIconSet="http://informer.meteonova.ru/html/icons/set2/";

                        for (var i =0; i < 2; i++) {
                            var today = new Date();
                            var dd = today.getDate();
                            var mm = today.getMonth()+1; //January is 0!
                            var yyyy = today.getFullYear();

                            if(dd<10) {
                                dd='0'+dd
                            }

                            if(mm<10) {
                                mm='0'+mm
                            }

                            today = dd+'/'+mm+'/'+yyyy;
                            mninfdata[i]['fdate'] = today;
                            var frc = mninfdata[i]['frc'];
                            var semi = frc.search(',');
                            var bar = frc.slice(0, semi);
                            var bar1 = bar.replace("мм","մմ սս ");
                            mninfdata[i]['frc']=bar1;


                            if (i == 0) {
                                mninfdata[i]['town']="Երևան";
                            }else{
                                mninfdata[i]['town']="Հրազդան";
                            }
                            mninfdata[i]['iconalt']=""
                        }
                        console.log(mninfdata);
                        initMeteonovaInformer();
                        </script>
                </div>
            </div>
            <div class="footer-col-right">
                <div class="column">
                    <table>
                        <tr>
                            <th>Contacts</th>
                        </tr>
                        <tr>
                            <td>Phone:(000)00-00-00</td>
                        </tr>
                        <tr>
                            <td>E-mail:aaa@aaa.com</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>


</body>
</html>