{% extends 'admin_header.html' %}

{% block add-seller %}
    <div id="add_form" class="form-group border-shadow">
     <FORM action="#" method="post">

     <table height="300" width="350">
         <tr>
             <td><label for="username">Ծածկանուն:</label></td>
             <th><input type="text" name="userName" class="form-control"></th>
         </tr>
         <tr>
             <td><label for="firstName">Անուն:</label></td>
             <th><input type="text" name="firstName" class="form-control"></th>
         </tr>
         <tr>
             <td><label for="lastName">Ազգանուն:</label></td>
             <th><input type="text" name="lastName" class="form-control"></th>
         </tr>
         <tr>
             <td><label for="email">Էլ-հասցե:</label></td>
             <th><input type="text" name="email" class="form-control"></th>
         </tr>
          <tr>
             <td><label for="phone">Հեռ․ համար:</label></td>
             <th><input type="text" name="phone" class="form-control"></th>
         </tr>
         <tr>
             <td><label for="address">Հասցե:</label></td>
             <th><input type="text" name="address" class="form-control"></th>
         </tr>
     </table>
     <button class="btn btn-md btn-info add-btn">Գրանցել</button>
 </FORM>
</div>

{% endblock %}