{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">

    <meta charset="UTF-8">
    <script type="text/javascript" src="{% static "js/jquery-2.1.4.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.cookie.js" %}"></script>
    <link href="{% static "css/style.less" %}" rel="stylesheet/less" type="text/css">
	<link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/font-awesome.css" %}" rel="stylesheet">
    <link href="{% static "css/admin_style.css" %}" rel="stylesheet">
    <link href="{% static "css/dataTables.min.css" %}" rel="stylesheet">
	<script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
    <script type="text/javascript" src="{% static "js/seller.js" %}"></script>
    <script type="text/javascript" src="{% static "js/provider.js" %}"></script>
	<script type="text/javascript" src="{% static "js/debtor.js" %}"></script>
	<script type="text/javascript" src="{% static "js/dataTables.min.js" %}"></script>
    <title>Hrazdan</title>
</head>
<body>
<!--Navigation Menu-->
    <div class="navbar navbar-inverse navbar-static-top">
	    <div class="container">
		    <div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mymenu">
				    <span class="sr-only">Մենյու</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/administrate"><i class="fa fa-home fa-lg"></i></a>
			</div>
			<div class="collapse navbar-collapse" id="mymenu">
			    <ul class="nav navbar-nav">
				    <li class="dropdown">
					    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                            Վաճառողներ
                            <b class="caret"></b>
                        </a>
						<ul class="dropdown-menu">
						    <li>
							    <a id="enta" href="/administrate/sellers/" >
                                    <p><i class="fa fa-users"></i> Դիտել</p>
                                </a>
							</li>
                        </ul>
					</li>
					<li>
					    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                            Վիճակագրություն
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
						    <li>
							    <a id="enta" href="#" >Եկամուտ</a>
							</li>
							<li>
							    <a id="enta2" href="#">Ծախսեր</a>
							</li>
							<li>
							    <a href="#">Պարտքեր</a>
							</li>
						</ul>
					</li>
                    <li>
					    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                            Մատակարարներ
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
						    <li>
							    <a id="enta" href="/administrate/providers/" >
                                    <p><i class="fa fa-users"></i>Դիտել</p>
                                </a>
							</li>
						</ul>
					</li>
                    <li>
					    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                            Ապրանքներ
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
						    <li>
							    <a id="enta" href="/administrate/products/" >
                                    <p>Դիտել</p>
                                </a>
							</li>
						</ul>
					</li>
                    <li>
					    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                            Պարտատերեր
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
						    <li>
							    <a id="enta" href="/administrate/debtors/" >
                                    <p><i class="fa fa-users"></i>Դիտել</p>
                                </a>
							</li>

						</ul>
					</li>
				</ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/auth/logout/" id="logout"><i class="fa fa-sign-out fa-lg"></i>
                            Ելք
                            ({{ username }})
                        </a>
                    </li>
                </ul>
			</div>
		</div>
	</div>
    <div class="container">
        <div class="row">
            {% block admin_mainContent %}{% endblock %}
        </div>
    </div>

{% block seller_table %} {% endblock %}
{% block add-seller %} {% endblock %}
{% block provider_table %}{% endblock %}
{% block debtor_table %} {% endblock %}

</body>
</html>