{% extends 'admin_header.html' %}

{% block debtor_table %}
    <div id="tooltip"></div>
    <table class="table table-striped table-bordered" cellpadding="0" id="debtor-table" >

        <thead style="background-color: rgba(0, 0, 0, 0.11)">
            <tr>
                <th width="4%">
                    #
                </th>
                <th>
                    Անուն
                </th>
                <th>
                    Ազգանուն
                </th>
                <th>
                    Հասցե
                </th>
                <th width="10%">
                    Հեռ․ համար
                </th>
            </tr>
        </thead>
        <tbody id="debtor-tbody" >
            {% for debtor in debtors %}
                <tr id="{{ forloop.counter }}" onchange="debtorChange(this)" onblur="DcheckErrors(this)">
                    <td>
                        <input id="txtd{{ forloop.counter }}0" type="text" value="{{ debtor.id }}" readonly="true" onfocus="DebtorcurrentCell(this)">

                    </td>
                    <td>

                        <a href="/administrate/sellers" >
                            <input id="txtd{{ forloop.counter }}1" type="text" value="{{ debtor.f_name }}" onfocus="DebtorcurrentCell(this)">
                        </a>

                    </td>
                    <td>
                        <input id="txtd{{ forloop.counter }}2" type="text" value="{{ debtor.l_name}}" onfocus="DebtorcurrentCell(this)">
                    </td>
                    <td>
                        <input id="txtd{{ forloop.counter }}3" type="text" value="{{ debtor.address }} " onfocus="DebtorcurrentCell(this)">
                    </td>
                    <td>
                        <input id="txtd{{ forloop.counter }}4" type="tel" value="{{ debtor.phone }}" onfocus="DebtorcurrentCell(this)">
                    </td>
                </tr>

            {% endfor %}

        </tbody>
    </table>

   <div id="btn-center">

    <div class="btn-toolbar">
        <div class="btn-group " >
        <input type="button" class="btn btn-info" value="Ավելացնել" onclick="debtoraddRow()">
        <input id="Dsend" type="button" class="btn btn-info" value="Հաստատել" onclick="Debtorsend()" disabled="true">
        <input type="button" class="btn btn-info" value="Ջնջել" onclick="debtordeleteAjax()">
        </div>
    </div>
    </div>

{% endblock %}