{% extends 'admin_header.html' %}

{% block provider_table %}
    <div id="tooltip"></div>
    <table class="table table-striped table-bordered" cellpadding="0" id="provider-table">
        <thead style="background-color: rgba(0, 0, 0, 0.11)">
            <tr>
                <th width="5%">
                    #
                </th>
                <th>
                    Անուն
                </th>
                <th>
                    Ազգանուն
                </th>
                <th>
                    Հեռ․ համար
                </th>
                <th>
                    Էլ-հասցե
                </th>
                <th>
                    Նշումներ
                </th>
            </tr>
        </thead>
        <tbody id="provider-tbody" >
            {% for provider in allProviders %}
                <tr id="{{ forloop.counter }}" onchange="providerChange(this)" onblur="ProvidcheckErrors(this)">
                    <td>
                        <input id="Ptxt{{ forloop.counter }}0" type="text" value="{{ provider.id }}" readonly="true" onfocus="currentCellProvider(this)">

                    </td>
                    <td>

                        <input id="Ptxt{{ forloop.counter }}1" type="text" value="{{ provider.f_name }}" onfocus="currentCellProvider(this)">

                    </td>
                    <td>
                        <input id="Ptxt{{ forloop.counter }}2" type="text" placeholder="Փոփոխել" value="{{ provider.l_name }}" class="input1" onfocus="currentCellProvider(this)">

                    </td>
                    <td>
                        <input id="Ptxt{{ forloop.counter }}3" type="text" value="{{ provider.phone }}" onfocus="currentCellProvider(this)">

                    </td>
                    <td>
                        <input id="Ptxt{{ forloop.counter }}4" type="text" value="{{ provider.email }}" onfocus="currentCellProvider(this)">
                    </td>
                    <td>
                        <input id="Ptxt{{ forloop.counter }}5" type="text" value="{{ provider.note }} " onfocus="currentCellProvider(this)">
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div id="btn-center">

    <div class="btn-toolbar">
        <div class="btn-group " >
        <input type="button" class="btn btn-info" value="Ավելացնել" onclick="ProviderAddRow()">
        <input id="Psend" type="button" class="btn btn-info" value="Հաստատել" onclick="SendProviderRow()" disabled="true">
        <input type="button" class="btn btn-info" value="Ջնջել" onclick="ProviddeleteAjax()">
        </div>
    </div>
    </div>

{% endblock %}