{% extends 'admin_header.html' %}

{% block seller_table %}
    <div id="tooltip"></div>
    <table class="table table-striped table-bordered" cellpadding="0" id="seller-table" >

        <thead style="background-color: rgba(0, 0, 0, 0.11)">
            <tr>
                <th width="3%">
                    #
                </th>
                <th>
                    Ծածկանուն
                </th>
                <th width="10%">
                    Գաղտնաբառ
                </th>
                <th>
                    Անուն
                </th>
                <th>
                    Ազգանուն
                </th>
                <th>
                    Էլ․փոստ
                </th>
                <th width="10%">
                    Հեռ․ համար
                </th>
                <th>
                    Հասցե
                </th>
            </tr>
        </thead>
        <tbody id="seller-tbody" >
            {% for seller in sellers %}
                <tr id="{{ forloop.counter }}" onchange="sellerChange(this)" onblur="CheckErrors(this)">
                    <td>
                        <input id="txt{{ forloop.counter }}0" type="text" value="{{ seller.id }}" readonly="true" onfocus="currentCell(this)">

                    </td>
                    <td>

                        <input id="txt{{ forloop.counter }}1" type="text" value="{{ seller.username }}" onfocus="currentCell(this)">

                    </td>
                    <td>
                        <input id="txt{{ forloop.counter }}2" type="text" placeholder="Փոփոխել" value="{{ seller.password }}" class="input1" onfocus="currentCell(this)">

                    </td>
                    <td>
                        <input id="txt{{ forloop.counter }}3" type="text" value="{{ seller.first_name }}" onfocus="currentCell(this)">

                    </td>
                    <td>
                        <input id="txt{{ forloop.counter }}4" type="text" value="{{ seller.last_name}}" onfocus="currentCell(this)">
                    </td>
                    <td>
                        <input id="txt{{ forloop.counter }}5" type="email" value="{{ seller.email }} " onfocus="currentCell(this)">
                    </td>
                    <td>
                        <input id="txt{{ forloop.counter }}6" type="tel" value="{{ seller.phone }}" onfocus="currentCell(this)">
                    </td>
                     <td>
                         <input id="txt{{ forloop.counter }}7" type="text" value="{{ seller.address }}" onfocus="currentCell(this)">
                    </td>
                </tr>

            {% endfor %}

        </tbody>
    </table>

   <div id="btn-center">

    <div class="btn-toolbar">
        <div class="btn-group " >
        <input type="button" class="btn btn-info" value="Ավելացնել" onclick="addRow()">
        <input id="send" type="button" class="btn btn-info" value="Փոփոխել" onclick="Send()" disabled="true">
        <input type="button" class="btn btn-info" value="Ջնջել" onclick="deleteAjax()">
        </div>
    </div>
    </div>

{% endblock %}