<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

{%for product in products%}
<p>{{product.name}} -> {{product.quantity}}</p>
{%endfor%}
<br />

</body>
</html>