{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <script type="text/javascript" src="{% static "js/jquery-2.1.4.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.cookie.js" %}"></script>
    <script type="text/javascript" src="{% static "js/upload_download.js" %}"></script>
    <title>Seller</title>
</head>
<body>

    <!--<form enctype="multipart/form-data">
        <input type="button" value="Upload" />
    </form> -->
    <a href="/file/downloaddb/" download="Acme Documentation (ver. 2.0.1).txt">Download Text</a>
    <a href="/file/downloaddb/">Download</a>
    <button id="download">Download</button>
    <form enctype="multipart/form-data">
        {% csrf_token %}
        <input name="file" type="file" />
        <input type="button" value="Upload" id="upload"/>
    </form>

    <progress></progress>
</body>
</html>