body {
    background-color: transparent;
    background-image: url(../img/admin_fon.png);
    background-repeat: repeat;
    position: relative;
    height: 100%;
}
#add_form {
    width: 380px;
    height: 380px;
    border: 1px solid #c0c0c0;
    padding: 10px;
    margin: 4% auto;
}

.add-btn {
    margin-top: 10px;
    float: right;
}
td input {
    width: 220px;
}
label{
    font-size: 15px;
}
.border-shadow:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

table td input{
    width:100%;
    border-width: 0;

}
#btn-center{

    width: 300px;
    display: block;
    margin: 0 auto;
}

input[type="button"]{
    width: 100px;
}

input var{
    color: red;
}
.fa-plus-square {
    color: green;
}
.fa-minus-square {
    color: red;
}

.input1::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
.input1::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
.input1:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
.input1:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
.input1:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.input1:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
.input1:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
.input1:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

.error{
    border: 1px solid red;
    text-overflow: ellipsis;

}
.error::-webkit-input-placeholder{
    text-overflow: ellipsis;
    color: #c0392b;

}
.correct{
    border: 0 solid inherit;
}

#tooltip {
  z-index: 9999;
  position: absolute;
  display: none;
  top:0px;
  left:0px;
  background-color: red;
  padding: 5px 10px 5px 10px;
  color: white;
  .opacity(0.5);
  border-radius: 5px;
}
