html {
    height: 99%;
    min-width: 960px;
    position: relative;
}
body {
    background-color:transparent;
    background-image: url(../img/fon.png);
    background-repeat: repeat;
    position: relative;
    height: 100%;
}
#wrapper {
    position: absolute;
    width: 99%;
    height: 100%;
    padding: 5px;
}
#header {
    height: 20%;
    width: 100%;
    position: absolute;
    top: 0px;
}
#content{
    min-height:60%;
    width: 100%;
    position: absolute;
    top: 20%;
}
#footer {
    height: 170px;
    width: 100%;
    position: absolute;
    top: 80%;
    background: linear-gradient(#dddddd,transparent);
}
.footer-col-left{
    display: inline-block;
    float: left;
    width: 40%;
    height: 100%;

}
.footer-col-center{
    display: inline-block;
    float: left;
    width: 33%;
    height: 100%;
    border-left:1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;

}
.footer-col-right{
    display: inline-block;
    float: left;
    width: 27%;
    height: 100%;
}
.column{
    margin-top: 8px;
    width: auto;
}
.column table {
    margin: 0px auto;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.70);
    transition: all 1s;
}
.column table th {
    padding-right: 10px;
}
.column table td {
    height: 10px;
}
.component{
    margin: 0px auto;
}
.border-shadow:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#autor_form {
    width: 300px;
    height: 150px;
    border: 1px solid #c0c0c0;
    padding: 10px;
    margin: 10% auto;
}
#login-btn {
    margin-top: 10px;
    float: right;
}
#logo-image {
    background-image: url(../img/logo.png);
    background-size: 100%;
    width: 250px;
    height: 120px;
    background-repeat: no-repeat;
    margin: 10px;
}


table.meteonova-informer td.mn-main-td { padding: 3px 5px 3px 0; background-color: transparent; color: #000; }
table.meteonova-informer td.mn-main-td a { font-weight: bold; }
table.meteonova-informer td.mn-sub-td { padding: 0px 5px 0px 5px; font:.9em/1.3 Arial,sans-serif;}
table.meteonova-informer td.mn-title {padding: 3px 5px 3px 5px;  background-color: transparent; }
table.meteonova-informer td.mn-main-td-date { background-color: transparent;
}

.glyphicon-arrow-down{
    color: red;
}
.glyphicon-arrow-up{
    color: green;
}